<h2>Users</h2>
<%= page_entries_info(@users).titleize.html_safe %>
<div class="clear">&nbsp;</div>
<%= paginate @users %>
<div class="clear">&nbsp;</div>
<%= render :partial => 'user', :collection => @users %>
