<h1>Find Users</h1>
<%= form_tag '/users', :method => 'get' %>
<h3 class="orange">Age</h3>
<div class="half_form left">
  <div class="field">
    Age Minimum<br />
    <%= select_tag :min, options_for_select(18..100), { :include_blank => true } %>
  </div>
</div>
<div class="half_form left">
  <div class="field">
    Age Max<br />
    <%= select_tag :max, options_for_select(18..100), { :include_blank => true } %>
  </div>
</div>
<div class="clear">&nbsp;</div>
<p><%= submit_tag "Submit", :name => nil %></p>
