<h1>Home</h1>
<h3 style="color:orange">Why DaddySocial?</h3>
<p style="margin-left: 5px" class="small">Welcome to daddysocial.com! I designed this site on the idea that our community needs a place where we could be free to express our personalities and maybe make a friend or two. Daddysocial combines familiar aspects from some of your favorite dating sites for older men and their admirers, with some social aspects that are designed to be less about sex and more about making lasting friendships.</p>
<h3 style="color:orange">What's the Same?</h3>
<p style="margin:5px;" class="small">Just like the sites you know and love, you can create a profile, upload photos, search for other users that meet your preferences, see who's online, and see the most recently added profiles. You can send personal messages.
<h3 style="color:orange">What's Different?</h3>
<p style="margin:5px;" class="small">Daddysocial gives its users an outlet for uploading photos, posting links, or just letting the community know what you're up to. Watching the Academy Awards?  Let everybody know and start up a conversation. Upload photos from the baseball game or concert you went to last night, and make your friends jealous.<p>
