<h2><%= link_to @user.name, user_path(@user) %> | Photos</h2>
<% if @user == current_user %>
  <div class="current_user"><%= link_to "Upload Photos", new_user_image_path(current_user) %></div>
  <%= render :partial => 'images/images' %>
<% end %>
